<div id="footer-links">
  <a id="link-to-doc" class='icon-help'><%= link_to _('Manual'), '/doc' %></a>
</div><!-- end id="footer-links" -->
<div id="copyright">
  <p><%= _('This social network uses <a href="http://noosfero.org/">Noosfero</a>, developed by %s and licensed under the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a> version 3 or any later version.') % link_to('Colivre', 'http://colivre.coop.br/') %></p>
  <img src="images/logoapoio-final-v2.png">
</div><!-- end id="copyright" -->
<%= language_chooser(environment) %>
