<% if File.exists?(File.join(Rails.root, 'public', "/designs/themes/olho_comunidade/images/thin-logo.png")) %>
  <%= link_to(image_tag("/designs/themes/olho_comunidade/images/thin-logo.png"), environment.top_url) %>
<% else %>
  <%= link_to(image_tag("/designs/themes/noosfero/images/thin-logo.png"), environment.top_url) %>
<% end %>